body{
    background-color: bisque;
    background-image: url("../images/1660658724-thanh-huong-vai-hoan-thu-6985-1660295659158-166029565929923347557-width645height968.jpeg");
    background-size: cover;
}
h1{
    color: rgba(255,20,147,50);
}
p{
    color: #ffa500;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;/* left right center justify */
    text-decoration: none;/* underline line-through overline none*/
    text-transform: none;/* uppercase lowercase capitalize */
    font-style: italic;
    background-color: azure;

    width: 800px;
}
a{
    text-decoration: none;
}
/*p{*/
/*    color: deeppink;*/
/*}*/